{% extends "auctions/layout.html" %}
{% block body %}
<!-- Maybe before the ul tag, can add a logic to detect when it is displaying all the auctions for a category and wrap the categories on some nav bar  -->
    <main class="container my-5">
        {% if selected_category %}
        <h1 class="mb-4">Auction in {{ selected_category.name }}</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for auction in auctions %}
                <div class="col">
                    <div class="card h-100 category-card">
                        <img src="{{ auction.img_url }}" class="card-img-top" alt="{{ auction.name }}" height="250px" width="300px">
                        <div class="card-body">
                            <h5 class="card-title">{{ auction.title }}</h5>
                            <p class="card-text">{{ auction.description }}</p>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-success fw-bold">${{ auction.price }}</span>
                            </div>
                            <a href="{% url 'auction' auction.id %}" class="btn btn-primary w-100">View Listing</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <h1 class="mb-4">Browse Categories</h1>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for item in categories %}
                <div class="col">
                    <div class="card h-100 category-card">
                        <img src="{{ item.img }}" class="card-img-top" alt="{{ item.name }}" height="250px" width="300px">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{% url 'categories' item.name %}" class="btn btn-primary">View {{ item.name }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </main>
{% endblock %}